<nav class="navbar navbar-default">
    <div class="container-fluid" style="padding: 0px 10px;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"  ng-bind="instance.info.name || 'New template'"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">File</a>
                    <ul class="dropdown-menu">
                        <li fabric-menu-open><a  ng-click="openMenu('open')">Open</a></li>
                        <li fabric-menu-save ng-if="canSave()"><a  ng-click="openMenu('save')">Save</a></li>
                        <li fabric-menu-saveas><a  ng-click="openMenu('saveas')">Save as</a></li>
                        <li role="separator" class="divider"></li>
                        <li fabric-menu-properties><a  ng-click="openMenu('properties')">Properties</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Canvas</a>
                    <ul class="dropdown-menu">
                        <li fabric-menu-canvas-size><a  ng-click="openMenu('canvas_size')">Canvas size..</a></li>
                        <fabric-menu-set-background-img  instance-id="instanceId"  ></fabric-menu-set-background-img>
                    </ul>
                </li>
            </ul>
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>-->
                <!--<li><a href="../navbar-static-top/">Static top</a></li>-->
                <!--<li><a href="../navbar-fixed-top/">Fixed top</a></li>-->
            <!--</ul>-->
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>