page-passwords .class-filter{
    box-shadow: 2px 2px 16px 0px rgba(0,0,0,0.2);
    background: #fff;
    border-radius: 4px;
    border:1px solid #ddd;
    padding:10px;
}
page-passwords .classes-passwords-wrapper{
    margin-top:10px
}
page-passwords .class-passwords.panel{
    box-shadow: 0px 0px 3px rgba(0,0,0,0.2)
}

page-passwords .class-passwords .panel-heading .p-class-name  {
    white-space: nowrap;
    word-wrap: initial;
    text-overflow: ellipsis;
    overflow: hidden;
}
page-passwords .class-passwords .header-buttons   {
    text-align: right;
}
page-passwords .class-passwords .panel-body  {
    height: 100px;
    overflow: auto;
}
page-passwords .page-password.has-change  {
    background-color: #F1F3FF;
}
page-passwords .page-password  {
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.4);
    padding-top: 5px;
}
page-passwords .page-password  > .row{
    position: relative;
    min-height:25px;
    margin-left: -10px;
}
page-passwords .page-password  > .row .fa-clock-o{
    position: absolute;
    z-index:1000;
    color: rgb(199, 30, 30);
    font-weight: bold;
}
page-passwords .page-password  > .row .input-wrapper{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
page-passwords .page-password  > .row .input-wrapper  .form-control{
    height: 25px;
    font-size: 12px;
    width: 136px;
    float: left;
}
page-passwords .page-password  > .row .input-wrapper  div[type="checkbox"]{
    float: left;
    width: 18px;
    margin-left: 5px;
}
page-passwords .page-password  > .row .input-wrapper  div[type="checkbox"] label{
    height: 18px;
    top: 5px;
}

page-passwords .search-page{
    height: 25px;
    font-size: 12px;
    width: 136px;
    display: initial;
}
page-passwords .open-dict{
    float:left
}
page-passwords .class-filter .selectize-control{
    float: left;
    width: calc(100% - 40px);
    padding-left: 10px;
}
page-passwords .left-side.e3-hide{
    width: 0;
    padding:0;

}
page-passwords .left-side:not(.e3-hide){
    background-color: white;
    border-radius: 4px;
    padding-right: 0;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.2);
    border-left: 4px solid #4cae4c;
    left: 0;
    height: calc(100% - 92px);
    position: absolute;
    overflow: auto;
}
page-passwords.fixed .left-side:not(.e3-hide){
    position: fixed;
    top: 52px;
    height: calc(100% - 54px);
}

page-passwords .right-side{
    right: 0;
    position: absolute;

}
page-passwords .right-side.col-xs-9{
    padding-left: 10px;
}

page-passwords .right-side,page-passwords .left-side{
    -webkit-transition: width 0.3s ease, margin 0.3s ease;
    -moz-transition: width 0.3s ease, margin 0.3s ease;
    -o-transition: width 0.3s ease, margin 0.3s ease;
    transition: width 0.3s ease, margin 0.3s ease;
}
page-passwords .dict-heading-wrapper{
    position: relative;
}

page-passwords .dict-heading-wrapper .add-word{
    position: absolute;
    top: 0;
    right: 10px;
    padding: 0 3px;
}
page-passwords .add-word-wrapper{
    margin-top:5px;
    margin-bottom: 10px;
}

