progress-bar-range-control{
    display: block;
    padding:10px;
    border:1px solid #ddd;
    border-radius: 4px;
    margin:15px 0;
    width: 100%;
}
progress-bar-range-control .range-category:not(:first-child){
    margin-top: 30px;
}
progress-bar-range-control .range-category .category-name{
    font-size: 14px;
    font-weight: bold;
}
progress-bar-range-control .slider-row{
    margin: 0 0 15px 0;
}
progress-bar-range-control .minicolors.minicolors-theme-bootstrap{
    width: 35px;
    float: left;
}
progress-bar-range-control .minicolors.minicolors-theme-bootstrap .minicolors-input{
    padding-left:20px
}
progress-bar-range-control .ngrs-range-slider{
    width: calc(100% - 70px);
    float: left;
    margin: 0 5px;
}

