<div class="modal-header">
    Properties
</div>
<div class="modal-body canvas-size">
    <table style="margin: auto">
        <tr>
            <td><input type="checkbox" ng-model="properties.studentCanEdit"></td>
            <td>Student can change layout</td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: right">
                <button ng-click="$dismiss()">Cancel</button>
                <button ng-click="save()">Ok</button>
            </td>
        </tr>
    </table>
</div>