<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <?php echo '<title>'. \English3\Util\CustomDomain::pageTitle() .'</title>'; include($_SERVER['DOCUMENT_ROOT']. '/analytics.html')?>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <?php echo '<link rel="shortcut icon" href="'. \English3\Util\CustomDomain::favicon() .'" />'; ?>
    <!-- inject:css -->
    <link rel="stylesheet" href="/public/build/meglms.2018.04.05.min.css">
    <!-- endinject -->
    <!-- inject:js -->
    <script src="/public/build/meglms.2018.04.05.min.js"></script>
    <!-- endinject -->
    <?php echo $customStyles->createStyleSheet(); ?>

</head>
<body ng-controller='PreferenceController' ng-class="{uploadusers:uploadUsers}">
<div ng-controller="UtilityController">
<div ng-controller="UserController">
<?php include(__DIR__ . '/timeout/index.html')?>
<!-- bootstrap modal -->
<div id="basicChatModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="basicChatModal" aria-hidden="true">
    <div class="modal-dialog" style="width: 380px;">
        <div class="modal-content" ng-controller="ChatBoxController">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Chatting To {{ chatter.fname }} {{ chatter.lname }}</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div ng-repeat="message in messages">
                        <p>{{ message.fname }} {{ message.lname }}<br />{{ message.created }}</p>
                        <p>{{ message.message }}</p>
                    </div>

                    <textarea ng-model="chat_message" cols="35" rows="6" placeholder="Type Message Here"></textarea><br />
                    <button type="button" class="btn btn-primary btn-sm" ng-click="send()">Send</button>

                </div>
            </div>
            <!--<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>-->
        </div>
    </div>
</div>
<!--End Basic Boot Strap Modal-->

<nav id="siteMenu" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a data-ng-show="user.org.white_label" class="navbar-brand" href="/" ng-if="user.org.logo"><img style="height: 48px" ng-src="{{user.org.logo}}"/> </a>
            <a data-ng-show="user.org.white_label==false" class="navbar-brand"  ng-href="{{user.hasOnlyProficiencyClasses?'/home/':'/'}}"><img src="/public/img/e3-green-logo.png"/> </a>
            <a data-ng-show="user.org.white_label==false" class="navbar-brand org-logo"ng-if="user.org.logo"  ng-href="{{user.hasOnlyProficiencyClasses?'/home/':'/'}}"><img style="height: 48px" ng-src="{{user.org.logo}}"/> </a>

            <div class="dropdown" id="mobileMenu" style="display: none"
                 ng-include="'/public/views/partials/mobile-topright-menu.html?v=3'" >

            </div>
        </div>

        <div class="navbar-collapse collapse">
            <!--DSerejo 2015-02-02-->
            <!--Moving topleft-menu to template file for easier maintenance.-->
            <!--<table style="float: left;" >-->
            <!--<?php include(__DIR__ . "/partials/topleft-menu.html") ?>-->
            <!--</table>-->
            <table style="float: right">
                <?php include(__DIR__ . "/partials/topright-menu.html") ?>
            </table>
        </div>
    </div>
</nav>


        <!-- ************************************************************** -->
        <!-- *********************** MAIN CONTENT ************************* -->
        <!-- ************************************************************** -->
        <div class="container-fluid ps-div" ng-controller="UtilityController">
            <div class="pscontrols-body" ng-controller="psControlsController">
                <div class="pscontrols-title">Sync Settings</div>
                <div class="instructions">Use commas for multiple values.</div>
                <section>
                    <div class="section-title">Error Reporting</div>
                    <div class="section-content">
                        <div class="input-label">Send Error Message To These Emails:</div>
                        <input type="text" ng-model="reportTo">
                    </div>
                </section>
                <section>
                    <div class="section-title">Query Settings</div>
                    <div class="section-content">
                        <div class="input-label">Term IDs</div>
                        <input type="text" ng-model="termids">
                        <div class="input-label">School IDs</div>
                        <input type="text" ng-model="schoolids">
                    </div>
                </section>
                <button class='ps-controls-button btn btn-success' ng-click="saveSettings()">Update Settings</button>
                <button class="ps-controls-button btn btn-primary">Go To Match-Maker</button>
                <button class='ps-controls-button btn btn-warning' ng-click="editAdvisors()">Edit Advisors</button>
            </div>
        </div>

</div></div></body>
</html>
