<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <?php echo '<title>'. \English3\Util\CustomDomain::pageTitle() .'</title>'; include($_SERVER['DOCUMENT_ROOT']. '/analytics.html')?>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/app.css?ver=1.1.2">
    <link rel="stylesheet" href="/public/build/timed-review.css">
    <link rel="stylesheet" href="/public/css/toastr.css">
    <link rel="stylesheet" href="/public/css/meg2.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/public/css/signin.css?v=2" type="text/css" />
    <?php echo '<link rel="shortcut icon" href="'. \English3\Util\CustomDomain::favicon() .'" />'; ?>
    <link rel="stylesheet" href="/public/css/responsive.css" type="text/css" />

    <script src="/public/lib/jquery-1.11.0.min.js"></script>
    <script src="/public/lib/jquery-ui.min.js"></script>
    <script src="/public/lib/jquery.ui.touch-punch.min.js"></script>
    <script src="/public/lib/bootstrap.min.js"></script>

    <script src="/public/js-util/flash-video-helper.js"></script>
	<script src="/public/js-util/url-replacer.js"></script>
    <script src="/public/lib/angular-file-upload-shim.min.js"></script>
    <!-- <script src="lib/holder.js"></script> --><!-- TESTING ONLY -->
    <script src="/public/lib/howler.min.js"></script>
    <script src="/public/lib/underscore-min.js"></script>


    <script src="/public/lib/angular.min.js"></script>
    <script src="/public/lib/angular-resource.min.js"></script>
    <script src="/public/lib/nsPopover.js"></script>
    <script src="/public/lib/angular-route.min.js"></script>
    <script src="/public/lib/angular-ui-router.min.js"></script>
    <script src="/public/lib/angular-ui-sortable.js"></script>

    <script src="/public/lib/angular-file-upload.js"></script>
	<script src="/public/lib/angular-base64-upload.js"></script>
    <script src="/public/lib/angular-animate.js"></script>
    <script src="/public/lib/toastr.js"></script>

    <script src="/public/lib/d3.js"></script>
    <script src="/public/lib/nv.d3.js"></script>
    <script src="/public/lib/angularjs-nvd3-directives.min.js"></script>

	<script src="/public/js/directives/audio-flashit.js"></script>
	<script src="/public/lib/recorder.js"></script>
	<script src="/public/js/directives/audio-flashit.js"></script>
	<script src="/public/js/directives/timed-editor.js"></script>
	<script src="/public/js/directives/automated-alerts/automated-alerts.js"></script>
	<script src="/public/lib/angular-bind-html-compile.js"></script>
    <script src="/public/lib/angular-treeview.js"></script>
	<script src="/public/lib/angular-img-crop.js"></script>
    <script src="/public/lib/ng-caps-lock.min.js"></script>


    <link rel="stylesheet" href="/public/lib/select2/selectize.default.css" />
    <script src="/public/lib/selectize.js"></script>
    <script src="/public/lib/select2/angular-selectize.js"></script>
    <script src="/public/lib/angular-selectize2.js"></script>

    <script src="/public/lib/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script src="/public/lib/angular-ui-sortable.js"></script>
    <script src="/public/lib/ui-utils.min.js"></script>
    <script src="/public/app/common/utils/utils.js"></script>
    <script src="/public/js-util/fileupload/ng-file-upload-shim.min.js"></script>
    <script src="/public/js-util/fileupload/ng-file-upload.min.js"></script>

    <script src="/public/js/app.js?ver=1.2"></script>
    <script src="/public/js/controllers.js?ver=4"></script>
    <script src="/public/js/controllers/HelpController.js"></script>
    <script src="/public/js/controllers/nav.js"></script>
    <script src="/public/js/controllers/utility.js?ver=1.0"></script>
    <script src="/public/js/services/alerts.js"></script>
    <script src="/public/js/directives/app_fabric/build.js?ver=1.0"></script>
    <script src="/public/js/filters.js"></script>

    <script src="/public/js/services.js?ver=1.1"></script>
    <script src="/public/js/directives.js"></script>
    <script src="/public/js-util/bootstrap-modifications.js"></script>
    <script src="/public/js-util/slider.js"></script>
    <script src="/public/js-util/angular-toggle-switch.min.js"></script>
    <script src="/public/js-util/timer.js"></script>
    <script src="/public/lib/angular.rangeSlider.js"></script>
    <!-- Golabs 26/03/2015 Drag and drop-->
    <script src="/public/js-util/dragdrop/draganddrop.js"></script>
    <script>
        angular.module('app').requires.push('ngCapsLock');

        angular.module('app').requires.push('angular-bind-html-compile');
        window.COMMERCIAL_SITE_URL = "<?php require(__DIR__.'/../../config.php'); echo $PATHS->commercial_site_url;?>"
    </script>
</head>
<body ng-controller="SigninPageController" ng-class="{'e3-sign':useCustomBackground()}" >
	<div class="login-container" ng-include="signInTemplate"></div>
</body>
</html>
