[e3-chat] .userList{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 250px;
    min-height: 300px;
    background: #f9f9f9;
    box-shadow: -1px -1px 2px rgba(0,0,0,0.5);
    border-radius: 3px;
    padding: 5px 10px;
    z-index:10000;
}
[e3-chat] .userList .no-users{

}
[e3-chat]  .userList .no-users > div{

}
[e3-chat] .top-buttons{
    margin-bottom: 3px;
}
[e3-chat] .sort-by-wrapper{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 0 -10px;
    padding: 2px 10px;
}
[e3-chat] .filter-wrapper table{
    width: 100%;
    margin:5px 0;
}
[e3-chat] .filter-wrapper td{
    text-transform: uppercase;
}

[e3-chat] .filter-wrapper td.active{
    color: #1975c0;
    font-weight: bold;
}
[e3-chat] .users{
    margin-top: 10px;
    overflow: auto;
    max-height: 300px;
}
[e3-chat] .users .class-name{
    font-size: 13px;
    font-weight: bold;
}
[e3-chat] .collapsable-header{
    text-transform: uppercase;
}
[e3-chat] .chatBoxGroup{
    position: fixed;
    right: 250px;
    bottom: 0;
    width: calc(100% - 270px);
    z-index: 2000;
    pointer-events: none;
}

[e3-chat] .chatBox {
    width: 300px;
    min-height: 100px;
    height: 370px;
    border: 1px solid #ccc;
    background: #f9f9f9;
    float: right;
    margin-right: 10px;
    position: relative;
    pointer-events: all;

}
[e3-chat] e3-chat-add-user{
    display: block;
    padding: 2px 5px;
    position: fixed;
    background: white;
    width: 280px;
    z-index: 100;
}
[e3-chat] e3-chat-add-user [async-search]{
    width: 80%;
    float: left;
}
[e3-chat] e3-chat-add-user .selectize-input {
    background: white;
}
[e3-chat] e3-chat-add-user .selectize-input::after {
    display: none;
}
[e3-chat] e3-chat-add-user .done-btn{
    float: right;
    padding: 7px 5px;
}
[e3-chat] .boxHeader{
    position: relative;
    width: 100%;
    top:0;
    padding: 2px 10px;
    background: rgb(243, 244, 244);
}
[e3-chat] .boxHeader .right-button{
    top: 8px;
    position: relative;
}
[e3-chat] .conversation{
    position: relative;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 90px);
    padding-bottom: 20px;
}
[e3-chat] .day-separator{
    text-align: center;
    font-weight: bold;
    padding: 5px;
}
[e3-chat] .message-box{
    padding-top: 3px;
    clear: both;
}
[e3-chat] .message{
    display: inline-block;
    padding: 13px;
    width: 250px;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    position: relative;
}
[e3-chat] .message:before{
    content: "";
    position: absolute;
    display: block;
    left: 0;
    border-right: 10px solid #ebeced;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    top: 10px;
    margin-left: -10px;
}
[e3-chat] .message-box.left-message .message{
    left:10px;
    background-color: #ebeced;
    float: left;
}

[e3-chat] .message-box.right-message .message{
    right:12px;
    float: right;
    background-color: #fcfac3;
}
[e3-chat] .message-box.right-message .message:before{
    left: 100%;
    margin-right: 6px;
    margin-left: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid #fcfac3;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}
[e3-chat] .message-box .time{
    display: block;
    position: relative;
    font-size: 10px;
    clear: both;
    color: #8a8a8a;
}[e3-chat] .message-box.left-message .time{
     left: 10px;
}[e3-chat] .message-box.right-message .time{
     text-align: right;
     right: 12px;

}
[e3-chat] .inputbox{
    position: absolute;
    height: 60px;
    width: 300px;
    bottom: 0;

}
[e3-chat] .inputbox textarea{
    width: 298px;
    height: 60px;
    position: absolute;
    border: none;
    border-top: 1px solid rgb(214, 214, 214);
    resize: none;
    padding:5px;
}
[e3-chat] .from-name{
    font-size: 10px;
    font-weight: bold;
}
[e3-chat] .user-online{
    color: #6b6b6b;

    padding: 5px 10px;
    border-bottom: 1px solid #e6e6e6;
}
[e3-chat] .user-online:hover{
    background: #eaeaea;
}
[e3-chat] .user-online.has-picture .online-icon{
    top: 11px;
}
[e3-chat] .user-online.has-picture .unread-messages-user-count{
    top: 6px;
}

[e3-chat] .status-icon{
    font-size: 8px;
    position:relative;
    bottom:1px;
}
[e3-chat] .status-icon.online-icon{
    color: rgb(66, 183, 42);
}
[e3-chat] .status-icon.offline-icon{
    color: rgb(173, 173, 173);
}
[e3-chat] .status-tooltip {
    position:absolute;
    top:20px;
    left:50px;
    background-color:lightyellow;
    border:1px solid rgb(56,93,138);
    border-radius:5px;
    padding:5px;
    font-size:10px;
    z-index:3;
    white-space:nowrap;
}

[e3-chat] .user-online .online-icon{
    font-size: 8px;
    color: rgb(66, 183, 42);
    float: right;
    top: 6px;
    position: relative;
}
[e3-chat] .user-online .offline-icon{
    font-size: 8px;
    color: rgb(173, 173, 173);
    float: right;
    top: 6px;
    position: relative;
}
[e3-chat] .unread-messages-user-count{
    float: right;
    font-size: 9px;
    padding: 1px;
    background-color: #1975c0;
    border: 1px solid #1975c0;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    position: relative;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .fa {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}
[e3-chat] .inner-addon .fa {
    padding: 5px 10px;
    color: #999;;
}
[e3-chat] .inner-addon input {
    border-color: transparent;
    box-shadow: none;
    border-bottom-color: #ccc;
    height: 20px;
    background-color:transparent;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 12px;
}

/* align icon */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }

.right-addon input { padding-right: 30px; }

[chat-user-details]{
    width: 330px;
    border: 2px solid #ccc;
    position: fixed;
    right: 263px;
    background: #e7e7e7;
    z-index: 1000;
    display: none;
    max-height: 300px;
}

[chat-user-details] .user-arrow, [chat-user-details] .user-arrow-border {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

[chat-user-details] .user-arrow {
    border-color: rgba(231, 231, 231, 0);
    border-left-color: #e7e7e7;
    border-width: 10px;
    margin-top: -10px;
}
[chat-user-details] .user-arrow-border {
    border-color: rgba(204, 204, 204, 0);
    border-left-color: #ccc;
    border-width: 13px;
    margin-top: -13px;
}
[chat-user-details] .user-info{
    margin:5px;
    background: white;
}
[chat-user-details] .teacher_contact_wrapper {
    display: flex;
}
[chat-user-details] .logged-in-since{
    font-size: 10px;
    color: black;
    float: right;
}
[chat-student-details] .user-site{
    margin-left: 20px;
    color: black;
}
[chat-student-details] .teacher_contact{
    width: 100%;
}
[chat-student-details] .currently-working{
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #ccc;
}
[chat-student-details] .currently-working .table{
    margin-bottom: 0;
}
[chat-student-details] .currently-working .table th{
    border-top: initial;
}
[chat-student-details] .currently-working .table td,[chat-student-details] .currently-working .table td{
    padding: 5px;
    font-size: 11px;
}
[e3-chat-user-group] {
    margin-bottom: 10px;
}


[e3-chat-user-group].by-class{
    width: calc(100% - 5px);
    left: 5px;
    position: relative;
}
#toast-container > .toast-success.new-message{
    background-image: initial !important ;
}
.toast.new-message:before {
    position: fixed;
    font-family: FontAwesome;
    font-size: 24px;
    line-height: 18px;
    float: left;
    color: #FFF;
    padding-right: 0.5em;
    margin: auto 0.5em auto -1.5em;
    content: "\f075"
}