/*ps controls*/
.pscontrols-body {
    width:100%;
    max-width:600px;
    margin:75px auto;
}
.pscontrols-title {
    font-size:48px;
}
.pscontrols-body section {
    border:1px solid #ccc;
    clear:both;
    margin:20px 0px;
}
.section-title {
    font-size:36px;
    border-bottom:1px solid #ccc;
    width:100%;
    text-align:center;
}
.pscontrols-body .section-content {
    padding:50px;
}
.pscontrols-body .input-label {
    font-size:18px;
}
.pscontrols-body input[type=text] {
    width:100%;
    margin-bottom:10px;
}
.ps-match-link {
    margin-top:50px;
    width:100%;
    display:block;
}
.ps-save-settings, .ps-match-link button {
    width:100%;
}
/*ps match*/
.psmatch-body {
    width:100%;
    max-width:600px;
    margin:75px auto;
}
.ps-black-out {
    position:fixed;
    width:100vw;
    height:100vh;
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    background-color:rgba(0,0,0,.7);
    z-index:1;
    top:0;
    left:0;
}
.ps-black-out > div {
    text-align:center;
}
.ps-black-out i, .ps-black-out span {
    font-size:52px;
}
.psmatch-title {
    font-size:36px;
}
.psmatch-body .row-type {
    font-size:24px;
    margin:20px 0px 0px 0px;
}
.search-filter-2 {
    display:flex;
    margin:20px 0px;
}
.search-filter-2 div {
    flex:none;
    padding-right:10px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.search-filter-2 input[type=text] {
    flex:1;
}
.psmatch-body .saved-wrapper {
    border-left:3px solid rgb(153,255,153);
    padding:0px 10px;
}
.psmatch-body .format-wrapper {
    border:1px solid #ccc;
    padding:10px;
}
.psmatch-body .saved-wrapper,
.psmatch-body .format-wrapper,
.psmatch-body .filter-wrapper,
.psmatch-body .range-select{
    margin:15px 0px;
}
.psmatch-body .row-wrapper{
    margin:20px 0px;
    margin-left:10px;
}
.psmatch-body .line-1,
.psmatch-body .line-2,
.psmatch-body .line-3 {
    margin:10px 0px;
}
.psmatch-body .row-wrapper .btn,
.psmatch-body .format-wrapper .btn {
    padding:0px 10px;
}
.psmatch-body .line-2 .btn-info {
    opacity:.5;
}
.psmatch-body .line-2 .btn-info:first-child {
    margin:0px 5px;
}
.psmatch-body .line-2 .btn-info.selected {
    opacity:1;
}
.psmatch-body .select-match-container {
    position:fixed;

}
.psmatch-body .select-match {
    position:fixed;
    width:500px;
    padding:20px;
    height:90vh;
    z-index:10000;
    background-color:white;
    border-radius:20px;
    top:5vh;
    left:calc(50vw - 250px);
    display:flex;
    flex-direction:column;
    border:2px solid #ccc;
}
.psmatch-body .select-prompt {
    position:fixed;
    width:500px;
    height:300px;
    padding:20px;
    z-index:10000;
    background-color:white;
    border-radius:20px;
    top:calc(50vh - 150px);
    left:calc(50vw - 250px);
    display:flex;
    flex-direction:column;
    border:2px solid #ccc;
    text-align:center;
}
.psmatch-body .pending-prompt {
    text-align:center;
    width:100%;
    padding:10px;
    font-size:20px;
    border-bottom:1px solid #ccc;
}
.psmatch-body .set-match {
    padding:5px;
    border:1px solid white;
}
.psmatch-body .set-match:hover {
    color:black
}
.psmatch-body .elms_wrapper {
    flex:1;
    overflow-y:auto;
    margin:0px 25px;
    border:1px solid #ccc;
}
.psmatch-body .cancel-match {
    width: 150px;
    font-size: 20px;
    margin: 10px auto;
}
.ps-admin-dropdown li {
    cursor:pointer;
}
.ps-search-wrapper input {
    width: 100%;
    outline: none;
    font-size: 14px;
    height: 30px;
    border-radius: 15px;
    text-indent: 10px;
    border: 1px solid rgb(100,100,100);
}
.ps-search-wrapper {
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.ps-search-wrapper i {
    position: absolute;
    right: 10px;
}
.psmatch-body .modal-course-menu {
    background-color:rgba(0,0,0,.3);
    display:flex;
    flex-direction:column;
    justify-content:center;
    overflow:hidden;
}
.psmatch-body .modal-course-menu > .modal-content {
    margin:0 auto;
    width:90%;
    max-width:500px;
    height:90%;
    max-height:700px;
    overflow:hidden;
    display:inline-flex;
    flex-direction:column;
    border-color:#ccc;
}
.psmatch-body .modal-course-menu div.ps-search-wrapper {
    margin:15px 25px;
}

.unmatched-courses-badge {
    position: absolute;
    top: 5px;
    right: 0px;
    background: beige;
    font-size: 9px;
    color: #147406;
    padding: 3px 5px;
}
.advisor-map-selected-advisor {
    background-color:#e0eef3 !important;
}
.advisor-name {
    font-weight:bold;
}
.advisor-associated-users {
    padding-left:5px;
}
.advisor-associated-user {
    display:flex;
}
.associated-user-name {
    flex:1;
}
.advisor-isnew {
    color:red;
}
.advisor-map-unlink-icon {
    width:10px;
    position:relative;
}
.advisor-map-unlink-icon > i {
    position:absolute;
    bottom: 3px;
}
.advisor-map-list {
    border-radius: 5px;
    border: 1px solid #ddd;
    font-weight: normal;
    max-height: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-y: auto;
    padding: 10px;
}
.advisor-map-list > div {
    background: #f2f8fa;
    cursor: pointer;
    margin: 1px 0px;
    padding: 5px;
}
.advisor-map-list > div:hover {
    background: #e0eef3;
}
@media screen and (max-width:768px) {
    .advisor-map-list {
        max-height:300px;
    }
}
@media screen and (max-height:768px) {
    .advisor-map-list {
        max-height:300px;
    }
}