
<style>
    .modal {
        overflow: hidden !important;
    }
    .modal-dialog {
        width: 90%;
    }
</style>
<div class="modal-header" ng-mouseover="SetmatchedImage()">
    <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Confirm Remove Question</em></h4>
</div>
<div class="modal-body modallist" style="{{modallistoverflow()}}" style="clear: both;" ng-mouseover="SetmatchedImage()">
    <form role="form">
        <div class="form-group" style="display:none">
            <label for="modalTitle">Title:</label>
            <input id="modalTitle" type="text" class="form-control" placeholder="Enter title" ng-model="question.title" autofocus>
        </div>

        <div>
            <div class="form-group">
                <Div ng-bind-html="question.htmlSafeprompt"></Div>
            </div>
        </div>
    </form>
</div>
</form>
</div>
<div class="modal-footer" style="text-align:center">
    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
    <button type="button" class="btn btn-danger" ng-click="ok_Delete()">Yes Remove Question</button>
</div>
