<div class="panel-group" id="grades-summary-table" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default" ng-repeat="unit in units | orderBy:'position*1' track by $index">
        <div class="panel-heading" role="tab" id="heading-{{$index}}" ng-init="unit.index = $index">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#grades-summary-table" data-target="#collapse-assignment-{{$index}}" aria-expanded="true" aria-controls="collapse-assignment-{{$index}}">
                    {{unit.description}}
                </a>
            </h4>
        </div>
        <div id="collapse-assignment-{{$index}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-{{$index}}">
            <div class="panel-body">
                <table class="tasks">
                    <tr>
                        <td class="task"
                            data-ng-repeat="assignment in getAssignmentsForUnit(unit) track by $index"
                            tooltip-html-unsafe="<p>{{assignment.name}}</p>{{assignment.submittedOn?'<p><b>Submitted:</b> ' + assignment.submittedOn + '</p>': '' }}">
                            <div >{{assignment.name}}</div>
                            <table style="font-size:12px ;margin:auto" ng-show="!assignment.isExempt">
                                <tr>
                                    <!--<td ng-show="assignment.show_dates!='0'">-->
                                    <td ng-if="assignment.due_date && class.showDates" ng-bind="assignmentDueDate(assignment)">

                                    </td>

                                    <!--<td ng-show="assignment.show_grades!='0'">-->
                                    <td>
                                        <strong ng-bind="getScore(assignment)"></strong>
                                    </td>
                                    <td >
                                        <span class="fa fa-comment" ng-show="assignment.hasQuizFeedback || assignment.postFeedbackId " style="margin-left:5px;float:right;cursor:pointer" ng-click="openFeedback(assignment)"></span>
                                    </td>
                                    <td >
                                        <span class="fa fa-table" ng-show="assignment.rubricId" style="margin-left:5px;float:right;cursor:pointer" ng-click="openRubric(assignment)"></span>
                                    </td>
                                </tr>
                            </table>
                            <div ng-show="assignment.isExempt">
                                <i class="fa fa-flag"></i> Exempt
                            </div>
                            <div ng-show="isWaitingGrade(assignment)">
                                <i class="fa fa-hourglass"></i> Waiting for grade
                            </div>

                        </td>

                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>