<div class="row">
    <div class="left-side col-xs-3" data-ng-class="{'e3-hide':!data.editWords}">
        <div data-ng-if="data.editWords" ng-init="loadDict()">
            <div class="dict-heading-wrapper">
                <div class="small-heading">Word bank</div>
                <div class="btn btn-sm btn-primary add-word" ng-click="data.adding=!data.adding"><i class="fa fa-plus"></i> Add word</div>
            </div>
            <div class="add-word-wrapper row" ng-if="data.adding">
                <div class="col-xs-6">
                    <input placeholder="Max 100 chars" class="form-control" ng-model="newWord">
                </div>

                <div class="col-xs-6">
                    <div class="btn btn-primary btn-sm save-word" ng-click="addWord(newWord)">Save</div>
                </div>

            </div>
            <div class="dict-wrapper">
                <div data-ng-repeat="word in data.dict track by $index">
                    <span class="word" data-ng-bind="word.word"></span>
                    <span class="fa fa-trash text-danger" ng-click="deleteWord(word,$index)"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="right-side" data-ng-class="{'col-xs-12':!data.editWords,'col-xs-9':data.editWords}">
        <div class="class-filter" data-ng-if="config.selectize">
            <div class="row">

                <div class="col-xs-12 tooltip-relative"  >
                    <div class="btn btn-success open-dict" btn-checkbox ng-model="data.editWords" tooltip="Manage word bank" tooltip-placement="right">
                        <i class="fa fa-book"></i>
                    </div>
                    <selectize2 placeholder='Select one or more classes'
                                options='data.classes'
                                ng-model="$parent.selected.classId"
                                config="config.selectize"
                            >
                    </selectize2>

                </div>
            </div>
        </div>

        <div class="classes-passwords-wrapper row">
            <div data-ng-repeat="(key,class) in selected.classes"
                 class="col-xs-6">
                <div class="class-passwords panel panel-default tooltip-relative">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12">
                                <span aria-hidden="true" class="fa fa-times close" ng-click="removeClass(key)"></span>
                                <span class="col-sm-6 p-class-name" tooltip="{{class.name}}" data-ng-bind="class.name"></span>
                                <div class="col-sm-6 header-buttons">
                                    <div class="btn btn-default btn-sm generate-password" data-ng-click="getRandomWords(class)" tooltip="Generate random password for the selected pages"><i class="fa fa-random"></i> Random</div>
                                    <async-button color-style="primary" text="Save" flash-text="Saved!" loading="loading.savingClass" ng-click="save(class)" disabled="!canSave(class)"></async-button>
                                </div>
                            </div>
                        </div>
                        <input class="form-control search-page" placeholder="Search for a page" data-ng-model="filterPage" >



                    </div>
                    <div class="panel-body">
                        <div class="loading-class" ng-show="class.loading">Loading <span class="fa fa-spinner fa-pulse"></span></div>
                        <div ng-hide="class.loading||class.assignments">No protected activities in this class</div>
                        <div class="page-password" data-ng-repeat="page in class.assignments" data-ng-class="{'has-change':hasChange(page)}">
                            <div class="row tooltip-relative">
                                <i class="fa fa-clock-o" ng-show="page.willExpire" tooltip-placement="right" tooltip="{{'Password expires in ' + page.daysToExpiration + ' days.'}} "></i>
                                <span class="col-xs-6" ng-bind="page.name"></span>
                                <span class="col-xs-6 input-wrapper">
                                    <div class="row pull-right">
                                        <input data-ng-model="page.password" class="form-control" ng-disabled="!page.enabled">
                                        <div type="checkbox"
                                             e3-checkbox
                                             data-ng-model="page.enabled">
                                        </div>
                                    </div>


                                    <!--<div class="row">-->
                                        <!--<div class="col-xs-6">-->
                                            <!-- -->
                                        <!--</div>-->
                                        <!-- -->
                                    <!--</div>-->
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
