<div class="edit-sites-modal">
	<div class="modal-header">
		<!-- close button -->
		<button type="button" class="close " ng-click="cancel()">
			<div class="btn btn-danger btn-sm">
				<span aria-hidden="true" class="fa fa-times" style="font-size:15px"></span>
				<span class="sr-only">Close</span>
			</div>
		</button>
		<h4 class="modal-title">Student Data Import</h4>
	</div>
	<div class="modal-body" ng-show="!finished">
		<h5>Select a file (.mbz) and click Import to import posts and grades from moodle into this class</h5>
		<div>
			<div class="btn btn-default btn-sm" ngf-select ngf-change="select($files)" ng-disabled="importing">Select File</div>
			<div class="btn btn-primary btn-sm" ng-disabled="importing || !ready" ng-click="import()">
				<div ng-hide="importing">Upload and Import</div>
				<div ng-show="importing">
					<span ng-show="progressPerc<100">Uploading</span>
					<span ng-hide="progressPerc<100">Importing</span>
					<span ng-show="progressPerc && progressPerc<100">{{progressPerc}}%</span>
					<i class="fa fa-spin fa-spinner"></i></div>
			</div>

		</div>
		<div ng-show="error">
			<hr>
			<div class="alert alert-danger" ng-bind="error"></div>
		</div>
	</div>
	<div class="modal-body" ng-show="finished">
		The import process is complete. Page must be reloaded for imported content to appear
	</div>
</div>