<div class="modal-header">
    <button type="button" class="close " ng-click="cancel()">
        <div class="btn btn-danger btn-sm">
            <span aria-hidden="true" class="fa fa-times" style="font-size:15px"></span><span class="sr-only">Close</span>
        </div>
    </button>
    <h4 class="modal-title">Edit class</h4>
</div>
<div class="modal-body" data-ng-controller="AdminContextController">
    <div ng-include="'/public/views/partials/admin/class-details.html?v=3'" data-ng-controller="EditCourseClassController"></div>
</div>