<div>
    <h2>Top Navigation</h2>
    <table>
        <tr>
            <td style="padding-bottom:15px;">
                <label for="accountTranslation" class="control-label" style="font-size:1.4em">The word "Account"</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="accountTranslation" name="accountTranslation" ng-model="accountTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder="Account" value="{{translationsForSelection.account}}" required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="adminTranslation" class="control-label" style="font-size:1.4em">The word "Administrator"</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="adminTranslation" name="adminTranslation" ng-model="adminTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='Administrator' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="allTranslation" class="control-label" style="font-size:1.4em">The word "All"</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="allTranslation" name="allTranslation" ng-model="allTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='All' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="chatTranslation" class="control-label" style="font-size:1.4em">The word "Chat"</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="chatTranslation" name="chatTranslation" ng-model="chatTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='Chat' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="submitTranslation" class="control-label" style="font-size:1.4em">The word "Submit"</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="submitTranslation" name="submitTranslation" ng-model="submitTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='Submit' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="recordTranslation" class="control-label" style="font-size:1.4em">The word "Record"</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="recordTranslation" name="recordTranslation" ng-model="recordTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='Record' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="chatting_to_pre_nameTranslation" class="control-label" style="font-size:1.4em">Before the name in the phrase:<br>"Chatting to John Smith"</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="chatting_to_pre_nameTranslation" name="chatting_to_pre_nameTranslation" ng-model="chatting_to_pre_nameTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='Course Description' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="chatting_to_post_nameTranslation" class="control-label" style="font-size:1.4em">After the name in the phrase:<br>"Chatting to John Smith"</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="chatting_to_post_nameTranslation" name="chatting_to_post_nameTranslation" ng-model="chatting_to_post_nameTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='Chatting To' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="chat_textbox_placeholderTranslation" class="control-label" style="font-size:1.4em">The phrase "Type message hera and press Enter"</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="chat_textbox_placeholderTranslation" name="chat_textbox_placeholderTranslation" ng-model="chat_textbox_placeholderTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='Type message hera and press Enter' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="course_builderTranslation" class="control-label" style="font-size:1.4em">Name for the Course Builder context</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="course_builderTranslation" name="course_builderTranslation" ng-model="course_builderTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='Course Builder' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="course_nameTranslation" class="control-label" style="font-size:1.4em">Label for the course name text field</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="course_nameTranslation" name="course_nameTranslation" ng-model="course_nameTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='Course Name' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="feedbackTranslation" class="control-label" style="font-size:1.4em">The word "Feedback"</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="feedbackTranslation" name="feedbackTranslation" ng-model="feedbackTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='Feedback' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="flashcardsTranslation" class="control-label" style="font-size:1.4em">The word "Flashcards"</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="flashcardsTranslation" name="flashcardsTranslation" ng-model="flashcardsTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='Flashcards' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="graderTranslation" class="control-label" style="font-size:1.4em">Name for the Grader context</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="graderTranslation" name="graderTranslation" ng-model="graderTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='Grader' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="gradesTranslation" class="control-label" style="font-size:1.4em">Name for the Grades context</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="gradesTranslation" name="gradesTranslation" ng-model="gradesTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='Grades' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="instructor_feedbackTranslation" class="control-label" style="font-size:1.4em">The title Instructor Feedback</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="instructor_feedbackTranslation" name="instructor_feedbackTranslation" ng-model="instructor_feedbackTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='Instructor Feedback' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="new_postTranslation" class="control-label" style="font-size:1.4em">Label for the "New Post" button.</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="new_postTranslation" name="new_postTranslation" ng-model="new_postTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='New Post' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="nextTranslation" class="control-label" style="font-size:1.4em">Label for the "Next" button</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="nextTranslation" name="nextTranslation" ng-model="nextTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='Next' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="notification_no_score_pre_nameTranslation" class="control-label" style="font-size:1.4em">Before the name in the phrase:<br>You received feedback from John Smith" </label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="notification_no_score_pre_nameTranslation" name="notification_no_score_pre_nameTranslation" ng-model="notification_no_score_pre_nameTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='You received feedback from' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="notification_no_score_post_nameTranslation" class="control-label" style="font-size:1.4em">After the name in the phrase:<br>You received feedback from John Smith" </label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="notification_no_score_post_nameTranslation" name="notification_no_score_post_nameTranslation" ng-model="notification_no_score_post_nameTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="notification_with_score_pre_nameTranslation" class="control-label" style="font-size:1.4em">Before the name in the phrase:<br>Teacher John Smith graded an assignment.<br>You received a score of 18/20</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="notification_with_score_pre_nameTranslation" name="notification_with_score_pre_nameTranslation" ng-model="notification_with_score_pre_nameTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='Teacher' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="notification_with_score_post_nameTranslation" class="control-label" style="font-size:1.4em">After the name in the phrase:<br>Teacher John Smith graded an assignment.<br>You received a score of 18/20</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="notification_with_score_post_nameTranslation" name="notification_with_score_post_nameTranslation" ng-model="notification_with_score_post_nameTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='graded an assignment.' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="notification_with_score_pre_scoreTranslation" class="control-label" style="font-size:1.4em">Before score, last line in phrase:<br>Teacher John Smith graded an assignment.<br>You received a score of 18/20</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="notification_with_score_pre_scoreTranslation" name="notification_with_score_pre_scoreTranslation" ng-model="notification_with_score_pre_scoreTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='You received a score of' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="notification_with_score_post_scoreTranslation" class="control-label" style="font-size:1.4em">After score, last line in phrase:<br>Teacher John Smith graded an assignment.<br>You received a score of 18/20</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="notification_with_score_post_scoreTranslation" name="notification_with_score_post_scoreTranslation" ng-model="notification_with_score_post_scoreTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="prevTranslation" class="control-label" style="font-size:1.4em">Label for the "Previous" button</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="prevTranslation" name="prevTranslation" ng-model="prevTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='Previous' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="previousTranslation" class="control-label" style="font-size:1.4em">The word "Previous"</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="previousTranslation" name="previousTranslation" ng-model="previousTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='Previous' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="replyTranslation" class="control-label" style="font-size:1.4em">Label for the "Reply" button</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="replyTranslation" name="replyTranslation" ng-model="replyTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='Reply' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="sign_outTranslation" class="control-label" style="font-size:1.4em">Label for the "Sign Out" button</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="sign_outTranslation" name="sign_outTranslation" ng-model="sign_outTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='Sign Out' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="sign_inTranslation" class="control-label" style="font-size:1.4em">Label for the "Sign In" button</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="sign_inTranslation" name="sign_inTranslation" ng-model="sign_inTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='Sign In' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="studentTranslation" class="control-label" style="font-size:1.4em">Name for the "Student" context</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="studentTranslation" name="studentTranslation" ng-model="studentTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='Student' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="test_bank_builderTranslation" class="control-label" style="font-size:1.4em">Name for the Test/Bank Builder context</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="test_bank_builderTranslation" name="test_bank_builderTranslation" ng-model="test_bank_builderTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='Test/Bank Builder' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="uploadvideoTranslation" class="control-label" style="font-size:1.4em">Label for the "Upload Video" button</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="uploadvideoTranslation" name="uploadvideoTranslation" ng-model="uploadvideoTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='Upload Video' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="vocabularyTranslation" class="control-label" style="font-size:1.4em">Title for "Vocabulary"</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="vocabularyTranslation" name="vocabularyTranslation" ng-model="vocabularyTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='Vocabulary' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="webcamTranslation" class="control-label" style="font-size:1.4em">Label for the "Webcam"</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="webcamTranslation" name="webcamTranslation" ng-model="webcamTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='Webcam' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="welcomeTranslation" class="control-label" style="font-size:1.4em">The phrase "Welcome"</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="welcomeTranslation" name="welcomeTranslation" ng-model="welcomeTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='Welcome' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="hiTranslation" class="control-label" style="font-size:1.4em">The phrase "Hi ##fname## ##lname##" <br> (Keep the placeholders)</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="hiTranslation" name="hiTranslation" ng-model="hiTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='Hi ##fname## ##lname##' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="userTranslation" class="control-label" style="font-size:1.4em">The word "User"</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="userTranslation" name="userTranslation" ng-model="userTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='User' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="passwordTranslation" class="control-label" style="font-size:1.4em">The word "Password"</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="passwordTranslation" name="passwordTranslation" ng-model="passwordTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='Password' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="login_urlTranslation" class="control-label" style="font-size:1.4em">The phrase "Login Url"</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="login_urlTranslation" name="login_urlTranslation" ng-model="login_urlTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='Login Url' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="mail_registered_messageTranslation" class="control-label" style="font-size:1.4em">The phrase "Your account has been successfully registered"</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="mail_registered_messageTranslation" name="mail_registered_messageTranslation" ng-model="mail_registered_messageTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='Your account has been successfully registered' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="mail_password_changed_messageTranslation" class="control-label" style="font-size:1.4em">The phrase "Your password has been successfully changed"</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="mail_password_changed_messageTranslation" name="mail_password_changed_messageTranslation" ng-model="mail_password_changed_messageTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='Your password has been successfully changed' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="do_not_replyTranslation" class="control-label" style="font-size:1.4em">The phrase "Please, do not reply"</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="do_not_replyTranslation" name="do_not_replyTranslation" ng-model="do_not_replyTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='Please, do not reply' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="click_hereTranslation" class="control-label" style="font-size:1.4em">The phrase "Click here"</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="click_hereTranslation" name="click_hereTranslation" ng-model="click_hereTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='Click here' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="to_contact_usTranslation" class="control-label" style="font-size:1.4em">The phrase "##click_here## to contact us" <br> (Keep the placeholder)</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="to_contact_usTranslation" name="to_contact_usTranslation" ng-model="to_contact_usTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='##click_here## to contact us' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="rightsTranslation" class="control-label" style="font-size:1.4em">The phrase "All rights reserved"</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="rightsTranslation" name="rightsTranslation" ng-model="rightsTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='All rights reserved' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="mail_signatureTranslation" class="control-label" style="font-size:1.4em">The phrase "English3 Support Staff"</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="mail_signatureTranslation" name="mail_signatureTranslation" ng-model="mail_signatureTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='English3 Support Staff' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="thank_youTranslation" class="control-label" style="font-size:1.4em">The phrase "Thank you"</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="thank_youTranslation" name="thank_youTranslation" ng-model="thank_youTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='Thank you' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="subject_account_infoTranslation" class="control-label" style="font-size:1.4em">Subject for "Account Info"</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="subject_account_infoTranslation" name="subject_account_infoTranslation" ng-model="subject_account_infoTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='Account Info' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="subject_forgotten_passwordTranslation" class="control-label" style="font-size:1.4em">Subject for "Forgotten Password"</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="subject_forgotten_passwordTranslation" name="subject_forgotten_passwordTranslation" ng-model="subject_forgotten_passwordTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='Forgotten Password"' required></td>
        </tr>
        <tr>
            <td style="padding-bottom:15px;"><label for="subject_password_changedTranslation" class="control-label" style="font-size:1.4em">Subject for "Password Changed"</label></td>
            <td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="subject_password_changedTranslation" name="subject_password_changedTranslation" ng-model="subject_password_changedTranslation" class="form-control ng-pristine ng-valid ng-valid-required" placeholder='Password Changed' required></td>
        </tr>

        <tr>
            <td style="padding-bottom:15px;"></td>
            <td style="padding-bottom:15px; padding-left:20px;"><button type="button" class="btn btn-primary btn-sm" ng-click="submit_translations()">Submit Translations</button></td>
        </tr>
    </table>
</div>