<div class="modal-header">
    <button type="button" class="close " ng-click="cancel()">
        <div class="btn btn-danger btn-sm">
            <span aria-hidden="true" class="fa fa-times" style="font-size:15px"></span><span class="sr-only">Close</span>
        </div>
    </button>
    <h4 class="modal-title">Custom progress bar ranges</h4>
</div>
<div class="modal-body">
    <div data-ng-repeat="rangeCategory in ranges" class="range-category">
        <div ng-bind="rangeCategory.name" class="category-name"></div>
        <div data-ng-repeat="range in rangeCategory.sliders track by $index" class="row slider-row">
            <div>
                <input minicolors ng-model="range.color" class="form-control" type="text">
            </div>
            <div range-slider ng-controller="ProgressRangeController" min="0" max="100" model-min="range.min" model-max="range.max" attach-handle-values="true" filter="percentage:0" ></div>
            <span class="fa fa-times text-danger pointer" ng-click="rangeCategory.removeSlider($index)"></span>
            <span class="fa fa-plus text-success pointer" ng-click="rangeCategory.addSliderAfter($index)"></span>
        </div>
    </div>


</div>