
<div style="margin-bottom: 10px;">
    <span  class="glossary-concept" ng-bind="word.word"></span>
</div>
<div class="definition-list" ng-class="{editing:!readOnly}">
    <div ng-repeat="def in word.definitions track by $index">
        <div class="definition-wrapper">
            <div class="number">
                {{$index+1}}.
            </div>
            <div class="definition">
                <div glossary-word-tags word="def" read-only="true" ng-show="showTags"
                     class="glossary-tags"></div>
                <div ng-bind-html="trustAsHtml(def.definition)"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<hr>
