

<div class="modal-header">
    <div class="small-heading">
        Sequoia Choice tags filter
        <button type="button" class="close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
    </div>

    <div class="clearfix"></div>
</div>
<div class="modal-body">
    <div async-search ng-model="selectedTagId" options="tagOptions" search-method="startSearch"
         config="selectizeConfig" on-initialize="onInitialize"></div>
    <!--<div class="btn btn-primary" ng-show="showCreateButton" ng-click="createNew()" >Create and add tag</div>-->
    <div>
        <input type="checkbox" ng-model="showAdvancedOptions">
        Show advanced options
    </div>
    <glossary-tags-filter selected-tags="selectedTagId" word="params.word"
                          ng-if="showAdvancedOptions"
                          selectize-element="selectize"
    ></glossary-tags-filter>
</div>
<div class="modal-footer">
    <div class="btn btn-primary" data-ng-disabled="!selectedTagId" ng-click="addTag()">Add</div>
</div>



