<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    <p>{{scormConfig.scormTitle || scormTitle}}</p>
</div>

<div class="modal-body text-center">
    <iframe width="75%"  height="400"  src="{{final_preview_url}}" ></iframe>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default"
            ng-click="cancel()">Ok
    </button>
</div>