<div class="modal-header">
    <button type="button" class="close " ng-click="$dismiss()">
        <div class="btn btn-danger btn-sm">
            <span aria-hidden="true" class="fa fa-times" style="font-size:15px"></span><span class="sr-only">Close</span>
        </div>
    </button>
    <h4 class="modal-title" ng-bind="params.title"></h4>
</div>
<div class="modal-body">
    <take-picture on-submit="submit"></take-picture>
</div>
<script type="text/ng-template" id="take-picture.html">
    <div ng-show="currentStep==1">
        <div class="text-center" style="position: relative;">
            <video id="video" width="342" height="256" autoplay></video>
            <div class="square-highlighter">
                <div class="left-edge"></div>
                <div class="right-edge"></div>
                <div class="top-edge"></div>
                <div class="bottom-edge"></div>
            </div>

        </div>
        <div class="text-center" style="margin-top: 20px">
            <button ng-click="take_picture()" style="font-size: 32px;    border-radius: 50%;border: 1px solid;"><span class="fa fa-camera"></span></button>
        </div>
    </div>
    <div ng-show="currentStep==2">
        <div class="text-center">

            <canvas id="canvas1" style="display: none" width="342" height="256"></canvas>
            <canvas id="canvas2" width="256" height="256"></canvas>
        </div>
        <div class="text-center" style="margin-top: 20px">
            <button  ng-click="redo()"><span class="fa fa-repeat" style="color:red"></span> Redo</button>
            <button  ng-click="submit()"><span class="fa fa-check" style="color:green"></span> Submit</button>
        </div>

    </div>

    <style>
        .square-highlighter {
            width: 342px;
            height: 256px;
            position: absolute;
            top: 0;
            left: calc(50% - 171px);
        }

        .left-edge {
            position: absolute;
            width: 43px;
            height: 100%;
            opacity: 0.4;
            background: black;
        }

        .right-edge {
            position: absolute;
            width: 43px;
            right: 0;
            height: 100%;
            opacity: 0.4;
            background: black;
        }


    </style>
</script>