<div class="import-course" ng-show="!courseInfo.data.unitCount && courseId">
	<!-- FORM -->
	<h2>Import Course</h2>
	<div>
		<div class="btn btn-default btn-sm" ngf-select ngf-change="check($files)" ng-disabled="isBusy()">Select File</div>
		<div class="btn btn-primary btn-sm" ng-disabled="!isReady() || isBusy()" ng-click="upload()">Upload</div>
		<div class="btn btn-primary btn-sm" ng-hide="importComplete" ng-disabled="!complete || importing" ng-click="import()">
			<div ng-hide="importing">Proceed to Import</div>
			<div ng-show="importing">Importing <i class="fa fa-spin fa-spinner"></i></div>
		</div>
	</div>
	<div ng-show="selected">
		<div>
			File:
			<span class="custom-font normal" ng-bind="selected.name"></span>
		</div>
		<div>
			Import Type:
			<span class="custom-font normal" ng-bind="selected.type"></span>
			<span class="custom-font green" ng-show="selected.ready">(ready)</span>
			<span class="custom-font red" ng-show="!selected.ready">(incompatible)</span>
		</div>
		<div>
			Size:
			<span class="custom-font normal" ng-bind="selected.size"></span>
		</div>
	</div>
	<!-- UPLOADING/FINISHED -->
	<div ng-show="isBusy()">
		<div ng-show="inProgress && !complete">
			Progress:
			<span class="custom-font normal" ng-bind="progress"></span>
			<span class="custom-font normal">% completed</span>
			<span class="custom-font normal" ng-show="progress === 100">- Preparing tree...</span>
		</div>
		<div class="custom-font green" ng-show="complete && !retrieving">Upload complete</div>
		<div ng-show="complete">
			Course Name: <span class="custom-font normal" ng-bind="data.courseName"></span>
		</div>
	</div>

	<!-- ALL FINISHED -->
	<div ng-show="importing">Importing. Please wait... Page will be reloaded automatically when finished</div>
	<!-- ERROR -->
	<div class="btn-danger" ng-show="error" ng-bind="error"></div>

	<!-- UNITS/PAGES SELECTION -->
	<div ng-if="complete" ng-hide="importing">
		<hr />
		<h2>Select Pages</h2>
		<h2><small>Select the units, pagegroups, and pages that should be imported into this class</small></h2>
		<!-- TREE -->
		<div class="unit-tree" ng-if="data">
			<div class="row">
				<div class="col-sm-12">
					<!-- COURSE NAME AND ACTION BUTTONS -->
					<h3>
						<span ng-bind="data.courseName"></span>
						<span class="pull-right btn" ng-click="toggleImportAll()" ng-class="{'btn-warning': importAll, 'btn-default': !importAll}">
							<i class="fa fa-check" ng-show="importAll"></i>
							Import All
						</span>
					</h3>
					<!-- SELECTION TREE -->
					<div ng-show="!importAll">
					<div ng-switch on="data.originalType">
						<!-- TYPE == MOODLE -->
						<div ng-switch-when="moodle">
							<import-tree-moodle data="data" transcluded-functions="transcludedFunctions"></import-tree-moodle>
						</div>
						<!-- ADD OTHER TYPES HERE -->
						<div ng-switch-default>Selected type not compatible</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="!isBusy() && previousUploads" class="previous-uploads">
		<!-- FORM -->
		<h2>From Previous Uploads</h2>
		<h2><small>The following list contains files which you uploaded but were not imported</small></h2>
		<div class="row" ng-show="!retrieving">
			<div class="col-sm-12">
				<span class="col-sm-2">Uploaded</span>
				<span class="col-sm-2">Type</span>
				<span class="col-sm-7">Name</span>
				<span class="col-sm-1 text-center">Discard</span>
			</div>
			<div class="col-sm-12 table">
				<div ng-repeat="upload in previousUploads">
					<span ng-click="selectFromPrevious(upload)">
						<span class="col-sm-2 date" ng-bind="upload.date | date:medium"></span>
						<span class="col-sm-2 type" ng-bind="upload.type"></span>
						<span class="col-sm-7 name" ng-bind="upload.name"></span>
					</span>
					<span class="col-sm-1 icon text-center" ng-click="discard(upload)">
						<i class="fa fa-trash"></i>
					</span>
				</div>
			</div>
		</div>
		<div ng-show="retrieving">
			<i class="fa fa-spin fa-spinner"></i>
			Retreving and preparing tree. Please wait...
		</div>
	</div>
</div>
<div ng-show="courseInfo.data.unitCount">Course already has content.</div>
