<div>
	<h2>Edit Page</h2>
	<table style="width:100%">
		<tr>
			<td style="padding-bottom:15px;width:100px;"><label for="pageTitle" class="control-label" style="font-size:1.4em">Page Title</label></td>
			<td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="pageTitle" name="pageTitle" ng-model="page_title" class="form-control ng-pristine ng-valid ng-valid-required" placeholder="Page Title" required></td>
		</tr>
		<tr>
			<td style="padding-bottom:15px;width:100px;"><label for="pageSubTitle" class="control-label" style="font-size:1.4em">Translation</label></td>
			<td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="pageSubTitle" name="pageSubTitle" ng-model="page_sub_title" class="form-control ng-pristine ng-valid ng-valid-required" placeholder="Page Translation" required></td>
		</tr>
		<tr>
			<td style="padding-bottom:15px;width:100px;"><label for="taskDuration" class="control-label" style="font-size:1.2em">Task Duration (minutes)</label></td>
			<td style="padding-bottom:15px; padding-left:20px;"><input type="text" id="taskDuration" name="taskDuration" ng-model="taskDuration" class="form-control ng-pristine ng-valid ng-valid-required" placeholder="Task Duration" required></td>
		</tr>
		<tr ng-if="proficiencyAreas">
			<td style="padding-bottom:15px;width:100px;"><label class="control-label" style="font-size:1.2em">Area of proficiency</label></td>
			<td style="padding-bottom:15px; padding-left:20px;"><select selectize placeholder="Area of proficiency" ng-model="meta.proficiency_area" data-ng-options="area.id as area.name for area in proficiencyAreas" required></select></td>
		</tr>
		<tr>
			<td style="padding-bottom:15px;width:100px;"></td>
			<td style="padding-bottom:15px; padding-left:20px;">
				<input type="checkbox" id="is_lesson" name="is_lesson" ng-model="is_lesson">&nbsp;<label for="is_lesson" class="control-label" style="font-size:1.1em">Is Lesson</label>
			</td>
		</tr>
		<tr>
			<td style="padding-bottom:15px;width:100px;"></td>
			<td style="padding-bottom:15px; padding-left:20px;">
				<input type="checkbox" id="hide_activity" name="hide_activity" ng-model="hide_activity">&nbsp;<label for="hide_activity" class="control-label" style="font-size:1.1em">Hide Activity</label>
			</td>
		</tr>
		<tr>
			<td style="padding-bottom:15px;width:100px;"></td>
			<td style="padding-bottom:15px; padding-left:20px;">
				<input type="checkbox" id="disable_visual_indicators" name="disable_visual_indicators" ng-model="disable_visual_indicators">&nbsp;<label for="disable_visual_indicators" class="control-label" style="font-size:1.1em;padding-right: 10px">Disable visual indicators </label><span class="fa fa-question-circle" tooltip="If enabled, the parent container and any nested activities will not show checkmark when users visit the pages."></span>
			</td>

		</tr>
		<tr>
			<td style="padding-bottom:15px;width:100px;"></td>
			<td style="padding-bottom:15px; padding-left:20px;">
				<input type="checkbox" id="exclude_from_gradebook" name="exclude_from_gradebook" ng-model="exclude_from_gradebook">&nbsp;<label for="exclude_from_gradebook" class="control-label" style="font-size:1.1em;padding-right: 10px">Exclude from gradebook </label>
			</td>

		</tr>
		<tr>
			<td>
			<td style="padding-bottom:15px; padding-left:20px;">
				<async-button color-style="primary" text="Save Changes" flash-text="Saved!" loading="loading.editPage" ng-click="editPage('save')"></async-button>
			</td>
			<td style="padding-bottom:15px; padding-left:20px;"><async-button color-style="danger" text="Delete Page" flash-text="Deleted!" loading="loading.deletePage" ng-click="deletePage()"></async-button></td>

		</tr>

	</table>
</div>