<div class="responses_container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            Organization:
            <select selectize ng-options="org.id as org.name for org in orgs | orderBy:'name'" ng-model="selected.org_id"></select>
        </div>
        <div class="col-md-6 col-sm-12">
            Class:
            <i class="fa fa-spinner fa-pulse" ng-if="loading.classes"></i>
            <select selectize ng-options="class.id as class.name for class in classes | orderBy:'name'" ng-model="selected.class_id" placeholder="All"></select>
        </div>


    </div>



    <div class="">
        <table class="table table-hover" data-height="400" data-row-style="rowStyle" data-toggle="table" ng-if="!selected.class_id">
            <thead>
            <tr>
                <th data-halign="left">Class</th>
                <th data-halign="left">Total posts</th>
                <th data-halign="left" style="width:50%">Teachers</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-if="loading.classes">
                <td>Loading...</td>
            </tr>
            <tr ng-if="!loading.classes && class.id" ng-repeat="class in classes | orderBy:'name'">
                <td>{{class.name}}</td>
                <td>{{getTotalCount('class',{class:class,groupId:class.groupId})}}</td>
                <td>{{getTeachers(class.id)}}</td>
            </tr>
            </tbody>
        </table>

        <table class="table table-hover" data-height="400" data-row-style="rowStyle" data-toggle="table" ng-if="selected.class_id">
            <thead>
            <tr>
                <th data-halign="left">Activity</th>
                <th data-halign="left">Total posts</th>
            </tr>
            </thead>
            <tbody ng-repeat="unit in units | orderBy:'name'">
                <tr ng-repeat="page in unit.pages | orderBy:'name'">
                    <td>{{unit.name}} - {{page.name}}</td>
                    <td>{{getTotalCount('page',page.users)}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>