<div class="modal-header">
    Canvas size
</div>
<div class="modal-body canvas-size">
    <table style="margin: auto">
        <tr>
            <td>Width</td>
            <td><input ng-model="width"></td>
            <td>px</td>
        </tr>
        <tr>
            <td>Height</td>
            <td><input ng-model="height"></td>
            <td>px</td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: right">
                <button ng-click="ok()">Ok</button>
            </td>
        </tr>
    </table>
</div>