<div class="modal-header">
    <button type="button" class="close " ng-click="cancel()">
        <div class="btn btn-danger btn-sm">
            <span aria-hidden="true" class="fa fa-times" style="font-size:15px"></span><span class="sr-only">Close</span>
        </div>
    </button>
    <h4 class="modal-title">Timed review prompts and groups</h4>
</div>
<div class="modal-body">
    <div class="row groups-container">
        <div timed-review-groups-sidebar class="col-xs-3 no-padding groups-sidebar" ng-show="!promptsSidebarCollapsed"></div>
        <div timed-review-groups-content class="col-xs-9 timed-groups-content-wrapper width-100"></div>
    </div>


</div>