
<style>

    textarea:hover,
    input:hover,
    textarea:active,
    input:active,
    textarea:focus,
    input:focus,
    button:focus,
    button:active,
    button:hover
    {
        outline:0px !important;
        -webkit-appearance:none;
    }

    textarea { border: none;
        background-color:transparent;
        resize: none;
    }

    .HtmlTemplateControl{
        position:relative;
        margin:auto;
        width: 95%;
        max-height: 648px;
        max-width: 855px;
        display: table;
    }

    .template_textarea_wrapper{
        position: absolute;
        width: 25%;
        height: 25%;

    }

    #textarea_1{
        top: 3%;
        left: 23%;
    }

    #textarea_2{
        top: 3.5%;
        left: 52%;
    }
    #textarea_3{
        top: 38%;
        left: 74%;
        width: 23%;
    }
    #textarea_4{
        top: 74%;
        left: 52%;
    }
    #textarea_5{
        top: 74%;
        left: 23%;
    }
    #textarea_6{
        top: 38%;
        left: 3%;
        width: 23%;
    }
    #textarea_7{
        top: 45%;
        left: 40%;
        width: 20%;
        height: 16%;
    }


    .template_textarea,.template_img {
        width: 100%;
        height: 100%;
    }
</style>

<div class="HtmlTemplateControl">
    <div class="template_textarea_wrapper" id="textarea_1">
        <textarea class="template_textarea"  ng-model="templateContent[0]"></textarea>
    </div>

    <div class="template_textarea_wrapper" id="textarea_2" >
        <textarea class="template_textarea" ng-model="templateContent[1]"></textarea>
    </div>

    <div class="template_textarea_wrapper" id="textarea_3">
        <textarea class="template_textarea"  ng-model="templateContent[2]"></textarea>
    </div>
    <div class="template_textarea_wrapper" id="textarea_4">
        <textarea class="template_textarea"  ng-model="templateContent[3]"></textarea>
    </div>
    <div class="template_textarea_wrapper" id="textarea_5">
        <textarea class="template_textarea"  ng-model="templateContent[4]"></textarea>
    </div>
    <div class="template_textarea_wrapper" id="textarea_6">
        <textarea class="template_textarea"  ng-model="templateContent[5]"></textarea>
    </div>
    <div class="template_textarea_wrapper" id="textarea_7">
        <textarea class="template_textarea"  ng-model="templateContent[6]"></textarea>
    </div>


    <!--Timeline_Five End-->
    <img class="template_img" src="../public/htmlTemplates/conceptevent_map.png" border="0" alt="">
</div>