<div class="modal-header">
    <button type="button" class="close " ng-click="close()">
        <div class="btn btn-danger btn-sm">
            <span aria-hidden="true" class="fa fa-times" style="font-size:15px"></span><span class="sr-only">Close</span>
        </div>
    </button>
    <h4 class="modal-title">Help</h4>
</div>
<div class="modal-body">
    If you want to report a bug or if you are having problems, please email us at <a href="mailto:{{support_email}}">{{support_email}}</a>
</div>
<div class="modal-footer">
    <div class="btn btn-primary btn-sm" data-ng-click="close()">Ok</div>

</div>