
<span>
<!-- ************************************************************** -->
<!-- ************************* SIDEBAR **************************** -->
<!-- ************************************************************** -->

<div id="sidebarCouseView"class="col-sm-3 sidebar" >

    <div class="row-fluid">
        <div class="col-xs-12 course-name-wrapper">
            <div class="dropdown course-dropdown" ng-controller="CourseController" ng-class="{'with-edit-class':showEditClassButton()}">
                <table style="margin: auto;">
                    <tr>
                        <td>
                            <select selectize ng-model="currentCourseID"
                                    style="width:100%"
                                    ng-options="course.id as course.name for course in courses | orderBy:'name'"
                                    ng-change="changeCourse(currentCourseID);currentCourseID && $root.windowWidth<768 ?toggleSidebar():''">
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <forum-notifications></forum-notifications>
        <div>
            <div ng-show="showActivitiesModalButton()"  class="edit-class-icon">
                <span class="fa fa-arrows-alt" ng-click="openActivitiesModal()"></span>
            </div>
            <div ng-show="showEditClassButton()" class="edit-class-icon">
                <span class="fa fa-edit" ng-click="openClassEdit();$root.windowWidth<768 ?toggleSidebar():''"></span>
            </div>
        </div>
        <div ng-hide="sidebarCollapsed || $root.windowWidth<768" class="collapse-menu-icon">
            <!--<img src="/public/img/collapse-menu-icon.png" ng-click="toggleSidebar()" style="cursor:pointer;display:table-cell">-->
            <span class="fa fa-list-ul" ng-click="toggleSidebar()" style="cursor:pointer"> </span>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-xs-12" ng-if="useSuperUnits" ng-hide="hideFromStudent" ng-controller="SuperUnitController">
            <div class="dropdown course-dropdown" style="padding-top:0">
                <table style="margin: auto;">
                    <tr>
                        <td>
                            <select selectize ng-model="superUnit.currentUnit"
                                    style="width:100%"
                                    ng-options="unit as unit.name for unit in superUnit.units | filter:showUnit | orderBy:'position'">
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>



    <div ng-controller="TeacherInfoMenuController">
        <div  ng-if="me.data.show_for_student.meta_value">
            <div data-ng-include="'/public/views/partials/teacher_info.html?v=2'"></div>
        </div>
</div>

    <div class="progress progressV2" ng-controller="ProgressBarController" ng-show="navService.classMeta.show_progress_bar.meta_value == 1 && ProgressBarControllerNo === false">
        <span class="avg-grade-wrapper" ng-show="class.show_grades==1">
            <span class="grade-text" ng-bind="gradeText()"></span>
            <span class="avg-grade" ng-bind="formatGrade()"></span>
            <span class="grade-text secondary" ng-show="showSecondaryGrade()"> Current grade: <span style="font-weight:300" ng-bind="secondaryGrade()"></span></span>
        </span>
        <span class="progress-val-wrapper" ng-class="{'full-width':class.show_grades==0}">
            <span class="progress-val">Completed: {{progress_perc}}%</span>
        </span>
        <span class="progress-bar" ng-class="{'full-width':class.show_grades==0}">

            <span class="progress-in" ng-style="{width: progress_perc+'%',background: barBackground()}"></span>
            <span class="expected-tasks"  ng-show="shouldUseCustomProgressBar()" ng-style="{left: progressReport.percExpectedTasks+'%'}"></span>
        </span>
        <span class="expected-current-progress" ng-show="shouldUseCustomProgressBar()">
            <span class="expected-progress">Expected: {{progressReport.percExpectedTasks}}%</span>
            <span class="current-progress"> <span ng-class="currentProgressVsExpected()<0?'text-danger':'text-success'" ng-bind="currentProgressText()"></span></span>
        </span>
    </div>


    <!-- <h5><i>General English Level 3</i></h5> -->
    <div>
        <!-- <abn-tree tree-data="navData" expand-level="2"></abn-tree> -->
        <ul class="nav nav-list nav-pills nav-stacked sidebar-nav">
            <li ng-show="current_unit_image_url">
                <div style="    max-width: 80%;margin: auto;padding: 15px 0;text-align: center;">
                    <img src="{{current_unit_image_url}}">
                </div>
            </li>
            <div style="min-height: 51px" data-ng-include="$root.organization.show_unit_tabs?'unit-pills':'unit-combo'"></div>
            <!-- ******* MENU ITEM ******* -->
            <li ng-repeat="nav in getPages() track by $index"
                    ng-switch="isExternalLink(nav.id)"
                    ng-class="navItemClasses(nav,$index)"
                    ng-show="isItemExpanded(nav) && !isActivityHidden(nav.id)"
                    class="tooltip-relative"
                    >
                <a ng-href="{{getHref(nav,$index)}}"
                    style="float:left; width:100%; border-radius: 0px;"
                    ng-click="expandHeader(nav.id, $event,$index);$root.windowWidth<768 ?toggleSidebar():''"
                    ng-switch-when="false"
                    ng-class="sidebarItemClass(nav.id)" ng-attr-id="header-{{nav.id}}">
                    <!--<span ng-hide="isItemHeader(nav)" style="margin-right: 8px; float: left;">-->
                        <!--<img ng-src="/public/img/{{nav.icon}}" height="18px" width="18px"/>-->
                    <!--</span>-->
                    <span ng-show="isItemHeader(nav)" ng-switch="isCurrentHeader(nav.id)"  style="margin-right: 8px; margin-left: -25px; float: left;    padding-left: 5px;">
                        <i ng-switch-when="true" class="fa" ng-attr-id="header-symbol-{{nav.id}}">&#xf147;</i>
                        <i ng-switch-default class="fa" ng-attr-id="header-symbol-{{nav.id}}">&#xf196;</i>
                    </span>
                    <span class="page-name-wrapper">
                        <span ng-class="{'text-with-edit':showEditButton()}" ng-show="isEnglishSelected()">{{nav.label}}</span>

                        <span ng-class="{'text-with-edit':showEditButton()}" ng-show="nav.isExempt" class="exempt">(Exempt)</span>
                        <span ng-class="{'text-with-edit':showEditButton()}" ng-hide="isEnglishSelected()">{{nav.subtitle}}</span>
                        <span ng-class="taskStatusTextWrapperClass" class="sidebar-checkbox" ng-hide="hideBox(nav)">
                            <span ng-show="showCheckMark(nav)" style=""><i class="fa fa-check sidebar-checkbox-icon" ng-class="{'exempt':nav.isExempt}"></i></span>
                            <span ng-show="showGoldenStar(nav)" ><i class="fa fa-star sidebar-checkbox-icon" style="color:gold"></i></span>
                            <span ng-if="showWaitingGrade(nav)" tooltip="Waiting for feedback" tooltip-append-to-body="true" tooltip-placement="bottom" class="sidebar-checkbox-icon submitted-icon fa fa-hourglass"></span>
                        </span>
                        <span ng-hide="isItemHeader(nav)" ng-class="taskStatusTextWrapperClass">
                            <span class="grade" ng-click="openFeedback(nav)" ng-if="showGrade(nav)" ng-bind="formatGrade(nav)" ng-class="getGradeOverall(nav)" tooltip="{{nav.hasFeedback?'Show feedback':''}}" tooltip-append-to-body="true"></span>
                            <span ng-if="showDate(nav)" class="page-due-date" ng-bind="formatDate(nav)" tooltip="Due Date" tooltip-append-to-body="true" tooltip-placement="bottom"></span>
                        </span>
                    </span>



                </a>
                <a ng-if="showEditButton()" class="btn-edit fa fa-edit" href="{{getEditHref(nav)}}" target="_blank"></a>
                <a href="{{nav.external_link}}"
                    style="float:left; width:100%; border-radius: 0px;"
                    target="_blank" ng-click="externalLinkClicked(nav.id);"
                    ng-switch-default>
                    <span style="margin-right: 8px; float: left;">
                        <img src="/public/img/externalicon.png" height="18px" width="18px"/>
                    </span>
                    <span ng-show="isEnglishSelected()">{{nav.label}}</span>
                    <span ng-hide="isEnglishSelected()">{{nav.subtitle}}</span></a>
                <div style="clear:both"></div>
            </li>

        </ul>
    </div>
</div>

<!-- ************************************************************** -->
<!-- ************************* SIDEBAR COLLAPSED ****************** -->
<!-- ************************************************************** -->


</span>
<script type="text/ng-template" id="unit-pills">
    <ul class="nav nav-pills  course-units-nav" ng-show="showUnits()" >
        <li ng-repeat="unit in navData.units" ng-class="getUnitButtonClass(unit.id)">
            <span class="border-helper-left"></span>
            <span class="border-helper-right"></span>
            <a ng-if="navData.units.length>1" href="#" ng-click="changeToUnit(unit)">{{unit.name=='-1'?'Introduction':unit.name}}</a>
        </li>
    </ul>
    <div ng-if="current_unit_title.length>30" data-toggle="tooltip" data-placement='right' class="sidebar-unit-title"  tooltip="{{current_unit_title}}" >{{current_unit_title}}</div>
    <div ng-if="current_unit_title.length<=30" class="sidebar-unit-title">{{current_unit_title}}</div>
</script>

<script type="text/ng-template" id="unit-combo">
    <select selectize class="unit-select"
            ng-if="showUnits()"

            data-ng-options="unit.id as ((unit.name>=0?('Unit ' + unit.name +'. '):'') + unit.description) for unit in navData.units"
            ng-model="$root.current_unit_id"
            data-ng-change="changeToUnit($root.current_unit_id)"></select>


</script>

