<div class="modal-header">
    <button type="button" class="close " ng-click="cancel()">
        <div class="btn btn-danger btn-sm">
            <span aria-hidden="true" class="fa fa-times" style="font-size:15px"></span><span class="sr-only">Close</span>
        </div>
    </button>
    <h4 class="modal-title">Page passwords about to expire</h4>
</div>
<div class="modal-body">
    <div>
        <p>The passwords for your protected pages/tests will expire in 5 days. If you don’t change them manually, the system will generate passwords for them.</p>
        <p>The following classes will be affected:</p>
        <ul>
            <li data-ng-repeat="class in classes">
                <span data-ng-bind="class.name"></span>
            </li>
        </ul>
        <p>Would you like to set your new passwords now?</p>
    </div>
</div>
<div class="modal-footer">
    <div class="btn btn-default btn-sm" ng-click="cancel()">No</div>
    <a class="btn btn-primary btn-sm" href="/home/#/password" ng-click="go()">Yes</a>
</div>