<!DOCTYPE html>
<form class="form-signin" role="form" >
    <h2 class="form-signin-heading">
        <p ng-show="pwd_expired">Your password has expired</p>
        <p ng-hide="pwd_expired">Change your temporary password</p>
    </h2>
    <input type="password" id="password" name="password"  class="form-control" placeholder="New Password" ng-model="user.password">
    <button class="btn btn-lg btn-primary btn-block" ng-click="changeTempPassword()">Submit</button>
    <p class="msgError">{{msgError}}</p>
</form>