<style>
    .unit-button-inactive,.sidebar-nav-item {
        background-color: #f3f3f4;
        color: #428bca !important;
    }
    .unit-button-active,.sidebar-nav-item.active {
        color: #fff;
        background-color: #428bca !important;
        position: relative;
    }

    .sidebar-nav-item.active a{
        text-decoration: none;
        color: #fff;
    }

    .unit-button-active:after,.has-arrow .sidebar-nav-item:after {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .unit-button-active:after,.has-arrow  .sidebar-nav-item:after {
        border-color: rgba(136, 183, 213, 0);
        border-top-color: #428bca;
        border-width: 15px;
        margin-left: -15px;
    }
    .menu-table{
        margin-bottom: 15px;
        border-spacing: 4px 0;
    }
    .top-nav-menu .table-bordered{
        border: none;
        border-collapse: separate;
    }
    .top-nav-menu td{
        border-radius: 4px;
        border:none !important;
    }

</style>
<script>
    window.calculateWidth = function(numberOfCols){
        return 100/numberOfCols + '%'
    }
</script>
<div class="row-fluid" style="padding-top: 15px;">
    <div class="col-xs-4">
        <div class="dropdown course-dropdown" ng-controller="CourseController" ng-class="{'with-edit-class':showEditClassButton()}">
            <table style="margin: auto;" >
                <tr>
                    <td>
                        <select selectize ng-model="currentCourseID"
                                style="width:100%"
                                ng-options="course.id as course.name for course in courses | orderBy:'name'"
                                ng-change="changeCourse(currentCourseID)">
                        </select>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-xs-8">
        <div ng-controller="TeacherInfoMenuController">
            <div  ng-if="me.data.show_for_student.meta_value">
                <div data-ng-include="'/public/views/partials/teacher_info_horizontal.html?v=2'"></div>
            </div>
        </div>
    </div>
    <div>
        <div ng-show="showEditClassButton()" class="edit-class-icon">
            <span class="fa fa-edit" ng-click="openClassEdit()"></span>
        </div>
    </div>
    <div ng-hide="sidebarCollapsed" class="collapse-menu-icon">
        <img src="/public/img/collapse-menu-icon.png" ng-click="toggleSidebar()" style="cursor:pointer;display:table-cell">
    </div>
</div>
<div>
<div class="row-fluid" style="padding: 0 20px;">
    <table class="table table-bordered menu-table"  ng-if="useSuperUnits" ng-hide="hideFromStudent" ng-controller="SuperUnitController">
        <tr>
            <td class="pointer" ng-class="unit.id == superUnit.currentUnit.id?'unit-button-active':'unit-button-inactive'" data-ng-repeat="unit in superUnit.units" ng-click="superUnit.currentUnit=unit">
                {{unit.name=='-1'?'Introduction':unit.name}}
            </td>
        </tr>
    </table>
    <table class="table table-bordered menu-table">
        <tr>
            <td class="pointer" ng-class="getUnitButtonClass(unit.id)" data-ng-repeat="unit in navData.units" ng-click="changeToUnit(unit)">
                {{unit.name=='-1'?'Introduction':unit.name}}
            </td>
        </tr>
    </table>
    <table class="table table-bordered menu-table has-arrow">
        <tr>
            <td data-ng-repeat="nav in getPages() track by $index" ng-if="nav.header_id==0" ng-class="navItemClasses(nav,$index)"  style="width: 100px">
                <a ng-href="{{getHref(nav,$index)}}" ng-click="expandHeader2(nav.id, $event,$index)" ng-bind="nav.label"></a>
            </td>
        </tr>
    </table>
    <table class="table table-bordered menu-table">
        <tr>
            <td data-ng-repeat="nav in subPages track by $index" ng-class="navItemClasses(nav,$index)"  style="width: 100px">
                <a ng-href="{{getHref(nav,$index)}}" ng-bind="nav.label"></a>
            </td>
        </tr>
    </table>
</div>  
    
</div>