<div ng-controller="GraderAllController">
    <div class="grader">
        <!--Golabs 05/02/2015 Grabbing our graderpostcontroller for display-->
        <div ng-controller="GraderPostController">
            <ng-include src=" '/public/views/partials/grader/bootstrapmodal.html' "></ng-include>
            <div ng-controller="GraderPostedMessagesController" ng-style="style()">
                <ng-include src=" '/public/views/partials/grader/graderpostcontroller.html' "></ng-include>
            </div>
        </div>
    </div>
</div>
