<button type="button" class="close " style="right: 10px;top: 10px;position: relative;" ng-click="dismiss()">
    <div class="btn btn-danger btn-sm">
        <span aria-hidden="true" class="fa fa-times" style="font-size:15px"></span><span class="sr-only">Close</span>
    </div>
</button>
<div class="grader_outline" >
    <div  class = " col-md-3 col-sm-6 col-xs-12  grader_top_heading"
          style="padding: 10px 0 0 10px;font-size: larger;font-weight: bold"
          data-ng-style="{'margin-left':studentView?'0':'15px'}"
    >
        <span style="font-weight:bold">Student :
            <em>{{$root.prepareUserName($root.user.org.sort_users_by,data.student
            .fname,data.student.lname)}}</em></span>
        <div style="margin-top:10px;margin-bottom:10px;font-weight: bold">
            E3 Student ID: <em>{{ data.student.id}}</em>
            <span > - {{data.pageInfo.name}}</span>
        </div>
    </div>

    <div ng-if="data.filteredPosts.length" style="" class="forum-box-nav col-md-3 col-sm-4 col-xs-12 pull-right"
         e3-pagination
         config="pagConfig"
         items="data.filteredPosts"
         ng-model="data.pagedPosts"></div>
    <div class="clearfix"></div>
    <tabset>
        <tab ng-repeat="discussion in data.student.discussions| orderBy:-attempt.lastPostTime"
             heading="{{discussion.title}}"
             active="discussion.active"
             select="loadStudentPosts(discussion)">
        </tab>
    </tabset>
    <div class="forum-topic-search search-wrapper" style="    margin-bottom: 0;margin-left: 15px;">
        <input placeholder="Search" ng-model="data.searchTerm" ng-change="onFilterChange()">
        <i class="fa fa-search"></i>
    </div>
    <div class="div-tabs" ng-hide="studentView && data.pageInfo.gradeMode=='wholeForum'" >
        <div ng-show="data.posts.loading"><span class="fa fa-pulse fa-spinner"></span> Loading</div>
        <div class="grader_PostedMessage" ng-hide="data.posts.loading" >
            <!--message by Student start-->
            <div  class="grader_box"  >
                <div   class="grader_GraderHelperController">
                    <!--Posted message by Student-->
                    <div class="grader_block " ng-class="{true:'grader_only_pre', false:''}[quiz.===false]">
                        <div class="question" style="margin: 10px" data-ng-repeat="post in data.pagedPosts">
                            <div class="btn btn-sm btn-default" style="margin-bottom: 10px;"
                                 ng-click="post.showParent = !post.showParent"
                            >
                                <span class="fa" ng-class="post.showParent?'fa-eye-slash':'fa-eye'"></span>
                                {{post.showParent?'Hide':'View'}} parent post
                            </div>
                            <div class="panel panel-default " style="background-color: #e2e2e2;" ng-show="post.showParent">
                                <div style="padding:10px"
                                     data-ng-bind-html="$root.trustAsHtml(post.parentMessage)"></div>
                            </div>
                            <div ng-bind="post.time" style="margin-left: 5px;color: #428bca;"></div>
                            <div class="panel panel-default ">
                                <div style="padding:10px" data-ng-bind-html="$root.trustAsHtml(post.message)"></div>

                            </div>

                        </div>
                    </div>
                    <!--message by Student end-->
                </div>
            </div>
        </div>
    </div>
</div>